.block1{
    background: #dddddd;

    border: 3px black solid;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;


}
.box1{
    background: #8c8c8c;
    width: 100px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.block2{
    background: #dddddd;

    border: 3px black dashed;
    width: 90px;
    height: 250px;
    display: flex;
    justify-content: flex-start;

    flex-direction: column;

}
.textbox{
    background: #8c8c8c;
    width: 80px;
    height: 20px;
    margin: 5px 5px;

}

.textbox1{
    background: #8c8c8c;
    width: 80px;
    height: 40px;
    margin:10px 5px 30px;

}
.row{
    display: flex;
    flex-direction:row;
}
.block3{
    background: #dddddd;

    border: 3px black solid;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}
.bigbox{
    background: #8c8c8c;
    width: 550px;
    height: 230px;

}
.col
{
    display: flex;
    flex-direction: column;
}
.block4{
    background: #dddddd;
    border: 3px black solid;
    width: 600px;
    height: 250px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    column-gap: 20px;
}
.box2{
    background: #8c8c8c;
    width: 250px;
    height: 100px;
    margin:5px 5px 5px;
}
.block5{
    background: #dddddd;

    border: 3px black solid;
    width: 600px;
    display: flex;
    justify-content:center;

    flex-wrap: wrap;
    column-gap: 20px;
}
.boxs{

    background: #8c8c8c;
    height: 80px;
    width: 210px;
    margin-bottom: 10px;
    margin-top:5px;

}
.button{
    background: #8c8c8c;
    height: 10px;
    width: 230px;
    margin-bottom: 10px;
    margin-top:5px;
}
.block6{
    background: #dddddd;

    border: 3px black solid;
    width: 600px;

}
.txt{
    background: #8c8c8c;
    height: 60px;
    width: 290px;
    margin-bottom: 10px;
    margin-top:5px;
    margin-left: 10px;
}
.gp {
    background: #8c8c8c;
    height: 201px;
    width: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top:5px;

}
.block7{
    background: #dddddd;
    border: 3px black solid;
    width: 600px;
    height: 42px;
    display: flex;
    justify-content: center;
}
.xxx{
    background: #8c8c8c;
    height: 10px;
    width: 500px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.xyx{
    background: #8c8c8c;
    height: 10px;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 200px;
}