
.header{
    height: 100px;
    width: 1010px;
    background: palegoldenrod;
    margin: 5px 5px 5px;
}
.menu{
    background: deeppink;
    width: 500px;
    margin: 5px 5px 5px;

}
.post{
    width: 500px;
    height: 400px;
    background: deepskyblue;
    margin: 5px 5px 5px;

}
.boxpost{

    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
}
.bigbox{
    display:flex;
    flex-direction:row;

}