.xt{

    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.A{
    width: auto;
    height: 100px;
    background: mediumslateblue;
    text-align: center;

}
.B{
    background: blueviolet;
    flex-grow:8;
    flex-basis: 120px;
    height: 400px;
    text-align: center;

}
.C{
    background: deepskyblue;
    flex-basis: 120px;
    height: 400px;
    flex-grow:2;
    text-align: center;

}
.d
{
    margin: 5px 5px 5px;
    border-radius: 10px;
}